---
layout: default
htmlClass: html
bodyClass: body
pagination:
    data: projects
    size: 1
    alias: project
    resolve: values
eleventyComputed:
  title: "attempto · {{ project.name }}"
permalink: "projects/{{ project.name | slug }}.html"
---

{{ project.name }}
